body {
    font-family: Arial, sans-serif;
    background-color: yellow;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4a4a4a;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    
}

section {
    padding: 20px;
    border-bottom: 1px solid #444;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4a4a4a;
}

